@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");

:root {
  --primary-color: rgb(255, 77, 77);
  --primary-color-light: #e2c3c3;
  --secondary-color: #333;
  --transition-duration: 0.25s;
  --nav-height: 4rem;
  --nav-menu-width: 300px;

  --color-white: #ffffff;
  --color-theme: #ff7373;
  --color-dark: #222529;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --linear-gradient-dark: #e6e6e6;
  --linear-gradient-light: #f5f5f5;
}
/* Start Global Rules */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/* End Global Rules */

/* Start Navbar */
nav {
  background-color: var(--linear-gradient-dark);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  text-transform: capitalize;
}
nav .logo .title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: var(--nav-height);
  color: var(--color-dark);
}
nav .nav-menu ul {
  display: flex;
  gap: 1rem;
}

nav .nav-menu li a {
  color: var(--color-dark);
  text-transform: capitalize;
  transition: color var(--transition-duration) ease;
  line-height: var(--nav-height);
}
nav .nav-menu li a:hover {
  color: var(--color-theme);
}
nav .icons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
}
nav .icons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-dark);
  background-color: var(--color-white);

  box-shadow: 0 0 5px 4px var(--color-shadow);
  border-radius: 50%;
  position: relative;
  transition: all var(--transition-duration) ease;
}
nav .icons ul li a:hover {
  color: var(--color-theme);
}
nav .icons ul li .number {
  position: absolute;
  top: -5px;
  right: -10px;
  min-width: 20px;
  min-height: 20px;
  color: var(--color-white);
  background-color: var(--color-theme);
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  font-size: 0.75rem;
}
nav .hamburger-icon {
  width: 40px;
  height: 40px;
  border: 1px solid var(--linear-gradient-light);
  display: none;
  cursor: pointer;
  font-size: 1.75rem;
  line-height: 40px;
}
nav .hamburger-icon:hover {
  background-color: var(--primary-color-light);
}
nav .hamburger-icon:active {
  box-shadow: inset 0 0 5px 0px var(--color-theme);
}
@media (max-width: 767px) {
  nav .hamburger-icon {
    display: block;
  }
  nav .nav-menu {
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    min-height: 100vh;
    width: var(--nav-menu-width);
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    gap: 2.5rem;
    transition: right 150ms linear;
  }
  nav .nav-menu.active {
    right: 0;
  }
  nav .nav-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    gap: 0;
  }
  nav .nav-menu ul li:first-child {
    border-top: 1px solid var(--color-dark);
  }
  nav .nav-menu ul li {
    line-height: 0;
    font-size: 0;
    border-bottom: 1px solid var(--color-dark);
  }
  nav .nav-menu ul li a {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ccc;
    transition: all var(--transition-duration) ease;
  }
  nav .nav-menu ul li a:hover {
    background-color: var(--primary-color-light);
  }
  nav .nav-menu .hamburger-icon {
    display: block;
  }
  nav .icons {
    display: none;
  }
}
/* End Navbar */

/* Start Header */
header {
  background-color: var(--linear-gradient-light);
  padding: 1rem 0;
}
header .wrapper {
  position: relative;
}
header .wrapper .items {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
@media (max-width: 767px) {
  header .wrapper {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  header .wrapper .items {
    position: relative;
  }
}
header .wrapper .items .title span {
  display: block;
  font-weight: bold;
}
header .wrapper .items .shop-now,
.featured-products .item .image .quick-view,
.side-by-side .item .image .quick-view,
.hero-images .wrapper .details .shop-now,
.side-by-side .wrapper .please-sale,
.contact-us .contact-form .btn-post-comment {
  background-color: var(--color-theme);
  position: relative;
}
header .wrapper .items .shop-now::before,
header .wrapper .items .shop-now::after,
.featured-products .item .image .quick-view::before,
.featured-products .item .image .quick-view::after,
.side-by-side .item .image .quick-view::before,
.side-by-side .item .image .quick-view::after,
.hero-images .details .shop-now::before,
.hero-images .details .shop-now::after,
.side-by-side .wrapper .please-sale::before,
.side-by-side .wrapper .please-sale::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}
header .wrapper .items .shop-now::before,
.featured-products .item .image .quick-view::before,
.side-by-side .item .image .quick-view::before,
.hero-images .details .shop-now::before,
.side-by-side .wrapper .please-sale::before {
  top: 0.5rem;
  left: 0.5rem;
  border-top: 2px solid var(--color-white);
  border-left: 2px solid var(--color-white);
}
header .wrapper .items .shop-now::after,
.featured-products .item .image .quick-view::after,
.side-by-side .item .image .quick-view::after,
.hero-images .details .shop-now::after,
.side-by-side .wrapper .please-sale::after {
  bottom: 0.5rem;
  right: 0.5rem;
  border-bottom: 2px solid var(--color-white);
  border-right: 2px solid var(--color-white);
}
/* End Header */

/* Start Featured Products */
.featured-products {
  padding-top: 5rem;
}
.featured-products .row {
  row-gap: 2rem;
}
.featured-products .item .image,
.side-by-side .item .image {
  height: 200px;
  background-color: var(--linear-gradient-dark);
  position: relative;
  overflow: hidden;
  transition: all var(--transition-duration) ease;
}
.featured-products .item .image:hover,
.side-by-side .item .image:hover {
  background-color: var(--linear-gradient-dark);
}
.featured-products .item .image .icons,
.side-by-side .item .image .icons {
  position: absolute;
  top: 0;
  right: -48px;
  transition: all var(--transition-duration) ease;
}
.featured-products .item .image:hover .icons,
.side-by-side .item .image:hover .icons {
  right: 0;
}
.featured-products .item .image .icons ul,
.side-by-side .item .image .icons ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.featured-products .item .image .icons ul li a,
.side-by-side .item .image .icons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  box-shadow: inset 0 0 3px 0 var(--color-dark);
  border-radius: 50%;
}
.featured-products .item .image .icons ul li a:hover,
.side-by-side .item .image .icons ul li a:hover {
  color: var(--color-white);
  background-color: var(--color-dark);
  transition: all var(--transition-duration) ease;
}
.featured-products .item .image .quick-view,
.side-by-side .item .image .quick-view {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  border: none;
  transition: all var(--transition-duration) ease;
}
.featured-products .item .image:hover .quick-view,
.side-by-side .item .image:hover .quick-view {
  bottom: 0;
}
.featured-products .item .details,
.side-by-side .item .details {
  padding: 0.5rem 0;
  border: 1px solid #ddd;
}
.featured-products .item .details p,
.side-by-side .item .details p {
  margin: 0;
}
.featured-products .item .details .category,
.side-by-side .item .details .category {
  color: #888;
}
.featured-products .item .details .title,
.side-by-side .item .details .title {
  font-size: 1.2rem;
  text-transform: capitalize;
}
.featured-products .item .details .rate,
.side-by-side .item .details .rate {
  color: var(--color-theme);
}
/* End Featured Products */

/* Start Hero Images */
.hero-images {
  padding: 3rem 0;
}
.hero-images .row {
  row-gap: 2rem;
}
.hero-images .wrapper {
  position: relative;
}
.hero-images .wrapper .details {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.hero-images .wrapper.item-1 .details {
  right: 0;
}
.hero-images .wrapper.item-1 .details .shop-now {
  background-color: var(--color-dark);
}
.hero-images .wrapper.item-2 .details {
  left: 1.5rem;
}
.hero-images .wrapper.item-2 .details .title {
  color: var(--color-dark);
}
.hero-images .wrapper.item-2 .details .shop-now {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.hero-images .wrapper.item-2 .details .shop-now::before,
.hero-images .wrapper.item-2 .details .shop-now::after {
  border-color: var(--color-dark);
}
/* End Hero Images */

/* Start Side By Side */
.side-by-side .wrapper.single-item {
  background-color: var(--linear-gradient-dark);
}
.side-by-side .wrapper.single-item .please-sale {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.side-by-side .wrapper.single-item .please-sale::before,
.side-by-side .wrapper.single-item .please-sale::after {
  border-color: var(--color-dark);
}
@media (max-width: 991px) {
  .side-by-side > .container > .row {
    gap: 2rem;
  }
  .side-by-side .wrapper.single-item {
    min-height: 30rem;
  }
}
@media (min-width: 992px) {
  .side-by-side .wrapper.single-item {
    height: 100%;
  }
}
.side-by-side .wrapper.many-items {
  row-gap: 1rem;
}
.side-by-side .wrapper.many-items .item .image {
  height: 180px;
}
.side-by-side .wrapper.many-items .item .details {
  padding: 0.75rem;
}
/* End Side By Side */

/* Start Services */
.services .wrapper {
  padding: 1rem;
  transition: all var(--transition-duration) ease;
  cursor: pointer;
  min-height: 195px;
}
.services .wrapper:hover {
  box-shadow: 0 0 4px 0 var(--color-theme);
}
.services .wrapper i {
  color: var(--color-dark);
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: all var(--transition-duration) ease;
}
.services .wrapper:hover i {
  color: var(--color-theme);
  border-color: var(--color-theme);
}
.services .wrapper .title {
  margin: 10px 0;
  font-weight: 600;
}
/* End Services */

/* Start Footer */
footer {
  color: var(--color-dark);
  background-color: var(--linear-gradient-dark);
}
footer ul li a i {
  color: var(--secondary-color);
  font-size: 1.25rem;
  transition: all var(--transition-duration) ease;
}
footer ul li a i:hover {
  color: var(--color-theme);
}
/* End Footer  */

/* Start Scroll To Top */
#scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: -5rem;
  width: 50px;
  height: 50px;
  padding: 1rem;
  border-radius: 50%;
  border: 1px solid var(--color-theme);
  transform: rotate(-45deg);
  cursor: pointer;
  transition: all var(--transition-duration) ease;
  background-color: var(--linear-gradient-dark);
}
#scroll-to-top.active {
  right: 2rem;
}
#scroll-to-top:hover {
  color: var(--color-theme);
}
#scroll-to-top i {
  font-size: 1.5rem;
}
/* End Scroll To Top */

/* Start Contact Us */
.contact-us {
  background-color: var(--linear-gradient-light);
}
@media (max-width: 767px) {
  .contact-us .map {
    height: 200px;
  }
  .contact-us .map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contact-us form .error-message {
  color: red;
  font-size: 0.75rem;
}
.contact-us form input.error,
.contact-us form textarea.error {
  border-color: red;
  color: red;
}
.contact-us .contact-form form textarea {
  margin-top: 25px;
}
.contact-us .contact-form form .form-control {
  border-radius: 0;
}
.contact-us .contact-form form .form-control:focus {
  box-shadow: none;
}
@media (max-width: 575px) {
  .contact-us .contact-form form textarea {
    margin: 0;
  }
}
/* End Contact Us */
